# App Config
PORT=8080
TIMEOUT=5

# TMDB Config
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_TIMEOUT=5
TMDB_ACCESS_TOKEN=

# UI Auth
MINI_MOVIE_UI_SECRET=

# Database Config
DATABASE_URL=postgres://mmdb_user:mmdb_password@localhost:5432/minimovie

# Enrichments Config
MAX_TMDB_FETCH_PER_REQUEST=10

# OpenTelemetry Metrics (Grafana Cloud)
OTEL_ENABLED=false # default disable for local
OTEL_SERVICE_NAME=minimovie-api
OTEL_EXPORTER_OTLP_ENDPOINT="https://otlp-gateway-prod-us-east-0.grafana.net/otlp"
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic%20{TOKEN_HERE}" # Replace {TOKEN_HERE} with base-64 encoded instance_id:token

